---  
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<title>Justin Li</title>
		<Header />
	</head>

	<body>
		<h1> About Me </h1>
		<p> I am a student passionate for solving problems in healthcare through bringing medical devices to the clinic to improve patient lives.</p>	
        <p> In my free time, I enjoy staying fit through swimming, running, golf (although still a work in progress)!</p>	
        <p> I also enjoy watching the NBA, F1, and random documentaries.</p>	

	</body>
</html>