---  
import Header from '../components/Header.astro';
import '../styles/global.css';
import { Image } from 'astro:assets';
import ProfHeadshot from '../images/ProfHeadshot.JPG';
---

<html lang="en">
	<head>
		<title>Justin Li</title>
		<Header />
		<style>
			.image-container {
			  padding: 10px; /* Optional: Add padding to the container */
			  text-align: center; /* Optional: Center the image within the container */
			}
		  </style>
	</head>

	<body>
		<h1> Justin Li </h1>
	<div class = "image-container">
		<Image src={ProfHeadshot} alt="prof headshot." width="300" height="300"/>
	</div>	
		<p> Hi! I am a Junior studying biomedical engineering with a concentration in machine learning at Boston University.</p>	
		<p> Feel free to learn more about me and check out my projects!</p>	
	</body>
</html>









