---
import Header from '../components/Header.astro';
import '../styles/global.css';
import ProjList from '../components/ProjList.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Justin Li</title>
    <Header />
  </head>


  <body>
    <h1>Past Projects</h1>
    <ProjList />
  </body>
    
</html>